@media (max-width: 375px) {
  /* Navbar */
  .wrapper .navBar {
    padding: 20px 15px;
  }

  .wrapper .navBar .navbar-brand {
    top: -15px
  }

  .wrapper .navBar .navbar-nav {
    text-align: center;
    padding-top: 20px
  }

  /* Modals / Popups */
  .mdWidth .modal-dialog {
    min-width: 98%;
    max-width: 98%;
  }

  .askPopup .modal-dialog {
    min-width: 98%;
    max-width: 98%;
  }

  .dressDet .dress-preview {
    height: 400px
  }

  /* صفحات التسجيل */
  .wrapper .content .signPage .form .profilePic {
    width: 220px;
    height: 220px
  }

  .wrapper .content .signPage .login {
    padding: 0 20px
  }

  .wrapper .content .signPage .login .action,
  .wrapper .content .signPage .login .dropdown {
    display: block;
    margin: 15px 0
  }

  .wrapper .content .signPage .register {
    padding-top: 15px
  }


  /* الرئيسية */
  .wrapper .homeIntro {
    height: 450px;
    padding-top: 30px
  }

  .wrapper .homeIntro .logo {
    width: 300px
  }

  .wrapper .homeIntro .det p {
    font-size: 22px
  }

  .wrapper .homeIntro .actions .new,
  .wrapper .homeIntro .actions .exist {
    padding: 5px 20px;
    font-size: 16px;
  }

  .wrapper .content .advantages .part {
    flex: 33%;
    padding: 10px 15px;
  }

  .wrapper .content .advantages .part h3 {
    font-size: 16px
  }

  .wrapper .content .partitions .sections .section-block {
    padding: 0
  }

  .wrapper .content .services .details .det-txt h3 {
    font-size: 24px
  }

  .wrapper .content .services .details .det-txt p {
    font-size: 16px
  }

  .wrapper .content .services .details .det-img .img {
    width: 200px;
    height: 300px
  }
  .wrapper .content .services .details .det-img .img:nth-of-type(2) {
    right: 20px
  }

  .wrapper .content .services .details .det-img {
    margin-top: 50px
  }

  .wrapper .content .offers .offer-block {
    height: 280px
  }

  .wrapper .content .news-txt h3 {
    font-size: 18px
  }

  .wrapper .content .news-txt p {
    font-size: 15px
  }

  .wrapper .content .faq .question h5 {
    font-size: 18px
  }

  /* نبذة عنا */
  .wrapper .aboutUs .whyUs .img {
    display: none;
  }

  .wrapper .aboutUs .whyUs .det {
    flex: 100%
  }

  .wrapper .aboutUs .whyUs .det h3 {
    font-size: 35px
  }

  .wrapper .aboutUs .whyUs .det .img {
    width: 200px
  }

  .wrapper .aboutUs .whyUs .det .txt p {
    font-size: 20px
  }

  .wrapper .aboutUs .whoUs .details .det-block h5 {
    font-size: 22px
  }

  .wrapper .aboutUs .whoUs .details .det-block h5::before {
    top: 8px
  }

  .wrapper .aboutUs .whoUs .details .det-block p {
    font-size: 15px
  }

  .wrapper .aboutUs .whoUs .details .det-block .img {
    width: 100%;
    height: 200px;
  }

  .wrapper .aboutUs .whoUs .details .outro {
    font-size: 22px
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det .countTo {
    font-size: 35px
  }

  .wrapper .aboutUs .ourClients .statistics {
    padding: 30px 0
  }

  .wrapper .aboutUs .ourClients .statistics h5 {
    font-size: 30px;
    margin-bottom: 20px
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det {
    margin: 0 10px
  }

  .wrapper .aboutUs .ourClients .img {
    display: none;
  }

  /* اتصل بنا */
  .wrapper .content .signPage .logo {
    width: 300px;
  }

  /* صفحات الحجز */
  .wrapper .content .bookPage .pageIntro {
    height: 300px
  }

  .wrapper .content .bookPage .steps ul li {
    margin-left: 10px;
    margin-bottom: 10px
  }

  .wrapper .content .bookPage .dress-models .tabsGroup .controller li {
    margin: 5px
  }

  .wrapper .content .bookPage .dress-models .dress-preview {
    height: 350px;
  }

  .wrapper .content .bookPage .book-details .det-block .img {
    height: 330px
  }

  .wrapper .content .bookPage .form-group label {
    flex: 100%;
    margin-bottom: 5px
  }

  /* الصفحة الشخصية */
  .profile .profile-content .tabs .tab-block {
    height: 100px
  }

  .profile .profile-content .messages .history .message .txt {
    max-width: 100%
  }

  /* صور من أعمالنا */
  .wrapper .gallery img {
    height: 180px;
  }

}

@media (min-width: 376px) and (max-width: 575px) {
  /* Navbar */
  .wrapper .navBar {
    padding: 20px 15px;
  }

  .wrapper .navBar .navbar-brand {
    top: -15px
  }

  .wrapper .navBar .navbar-nav {
    text-align: center;
    padding-top: 20px
  }

  /* Modals / Popups */
  .mdWidth .modal-dialog {
    min-width: 90%;
    max-width: 90%;
  }

  .askPopup .modal-dialog {
    min-width: 350px;
    max-width: 350px;
  }

  .dressDet .dress-preview {
    height: 400px
  }

  /* صفحات التسجيل */
  .wrapper .content .signPage .form .profilePic {
    width: 260px;
    height: 260px
  }

  .wrapper .content .signPage .login {
    padding: 0 20px
  }

  .wrapper .content .signPage .login .action,
  .wrapper .content .signPage .login .dropdown {
    display: block;
    margin: 15px 0
  }

  .wrapper .content .signPage .register {
    padding-top: 15px
  }

  /* الرئيسية */
  .wrapper .homeIntro {
    height: 450px;
    padding-top: 30px
  }

  .wrapper .homeIntro .logo {
    width: 300px
  }

  .wrapper .homeIntro .det p {
    font-size: 22px
  }

  .wrapper .homeIntro .actions .new,
  .wrapper .homeIntro .actions .exist {
    padding: 5px 20px;
    font-size: 16px;
  }

  .wrapper .content .advantages .part {
    flex: 33%;
    padding: 10px 15px;
  }

  .wrapper .content .advantages .part h3 {
    font-size: 16px
  }

  .wrapper .content .partitions .sections .section-block {
    padding: 0
  }

  .wrapper .content .services .details .det-txt h3 {
    font-size: 24px
  }

  .wrapper .content .services .details .det-txt p {
    font-size: 16px
  }

  .wrapper .content .services .details .det-img .img {
    width: 200px;
    height: 300px
  }
  .wrapper .content .services .details .det-img .img:nth-of-type(2) {
    right: 20px
  }

  .wrapper .content .services .details .det-img {
    margin-top: 50px
  }

  .wrapper .content .offers .offer-block {
    height: 280px
  }

  .wrapper .content .news-txt h3 {
    font-size: 18px
  }

  .wrapper .content .news-txt p {
    font-size: 15px
  }

  .wrapper .content .faq .question h5 {
    font-size: 18px
  }

  /* نبذة عنا */
  .wrapper .aboutUs .whyUs .img {
    display: none;
  }

  .wrapper .aboutUs .whyUs .det {
    flex: 100%
  }

  .wrapper .aboutUs .whoUs .details .det-block h5 {
    font-size: 24px
  }
  .wrapper .aboutUs .whoUs .details .det-block h5::before {
    top: 8px
  }

  .wrapper .aboutUs .whoUs .details .det-block p {
    font-size: 18px
  }

  .wrapper .aboutUs .whoUs .details .det-block .img {
    width: 100%;
    height: 200px;
  }

  .wrapper .aboutUs .whoUs .details .outro {
    font-size: 22px
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det .countTo {
    font-size: 35px
  }

  .wrapper .aboutUs .ourClients .statistics {
    padding: 30px 0
  }

  .wrapper .aboutUs .ourClients .statistics h5 {
    font-size: 30px;
    margin-bottom: 20px
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det {
    margin: 0 10px
  }

  .wrapper .aboutUs .ourClients .img {
    display: none;
  }

  /* صفحات الحجز */
  .wrapper .content .bookPage .pageIntro {
    height: 300px
  }

  .wrapper .content .bookPage .steps ul li {
    margin-left: 10px;
    margin-bottom: 10px
  }

  .wrapper .content .bookPage .dress-models .tabsGroup .controller li {
    margin: 5px
  }

  .wrapper .content .bookPage .dress-models .dress-preview {
    height: 350px;
  }

  .wrapper .content .bookPage .book-details .det-block .img {
    height: 330px
  }

  .wrapper .content .bookPage .form-group label {
    flex: 100%;
    margin-bottom: 5px
  }

  /* الصفحة الشخصية */
  .profile .profile-content .messages .history .message .txt {
    max-width: 100%
  }

  /* صور من أعمالنا */
  .wrapper .gallery img {
    height: 200px;
  }


 }

@media (min-width: 576px) and (max-width: 767px) {
  /* Navbar */
  .wrapper .navBar {
    padding: 20px 15px;
  }

  .wrapper .navBar .navbar-brand {
    top: -15px
  }

  .wrapper .navBar .navbar-nav {
    text-align: center;
    padding-top: 20px
  }

  /* الرئيسية */
  .wrapper .homeIntro {
    height: 450px;
    padding-top: 30px
  }

  .wrapper .homeIntro .logo {
    width: 300px
  }

  .wrapper .homeIntro .det p {
    font-size: 28px
  }

  .wrapper .content .advantages .part {
    flex: 33%
  }

  .wrapper .content .services .details .det-img .img {
    width: 220px;
    height: 330px
  }
  .wrapper .content .services .details .det-img .img:nth-of-type(2) {
    right: 20px
  }

  .wrapper .content .services .details .det-img {
    margin-top: 50px
  }

  /* نبذة عنا */
  .wrapper .aboutUs .whyUs .img {
    flex: 50%
  }

  .wrapper .aboutUs .whyUs .det {
    flex: 50%
  }

  .wrapper .aboutUs .whoUs .details .det-block h5 {
    font-size: 24px
  }

  .wrapper .aboutUs .whoUs .details .det-block p {
    font-size: 18px
  }

  .wrapper .aboutUs .whoUs .details .det-block .img {
    width: 100%;
    height: 200px;
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det {
    margin: 0 25px
  }

  .wrapper .aboutUs .ourClients .img {
    display: none;
  }

  /* صفحات الحجز */
  .wrapper .content .bookPage .pageIntro {
    height: 400px
  }

  .wrapper .content .bookPage .steps ul li {
    margin-left: 20px
  }

  /* الصفحة الشخصية */
  .profile .profile-content .messages .history .message .txt {
    max-width: 90%
  }

  /* صور من أعمالنا */
  .wrapper .gallery img {
    height: 250px;
  }


}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper .homeIntro {
    height: 550px;
    padding-top: 30px
  }

  .wrapper .content .advantages .part {
    flex: 33%
  }

  .wrapper .content .services .details .det-img .img {
    width: 220px;
    height: 330px
  }
  .wrapper .content .services .details .det-img .img:nth-of-type(2) {
    right: 20px
  }

  /* نبذة عنا */
  .wrapper .aboutUs .whyUs .img {
    flex: 50%
  }

  .wrapper .aboutUs .whyUs .det {
    flex: 50%
  }

  .wrapper .aboutUs .whoUs .details .det-block h5 {
    font-size: 24px
  }

  .wrapper .aboutUs .whoUs .details .det-block p {
    font-size: 18px
  }

  .wrapper .aboutUs .whoUs .details .det-block .img {
    height: 300px
  }

  .wrapper .aboutUs .ourClients .statistics .blocks .det {
    margin: 0 25PX
  }

  /* الصفحة الشخصية */
  .profile .profile-content .messages .history .message .txt {
    max-width: 90%
  }

  /* صور من أعمالنا */
  .wrapper .gallery img {
    height: 280px;
  }


}

@media (min-width: 992px) and (max-width: 1099px) {
  .wrapper .aboutUs .whoUs .details .det-block .img {
    height: 350px
  }

  .wrapper .aboutUs .whyUs .det {
    padding: 30px 0
  }

}

@media (min-width: 1200px) {
  .container {
      max-width: 85%;
  }
}
